    <section class="g-bg-gray-light-v5">
      <div class="container g-py-100">
        <div class="row justify-content-center g-mb-110">
          <div class="col-lg-8">
            <!-- Heading -->
            <div class="text-center">
              <h2 class="h1 g-color-black g-font-weight-600 mb-5">About Us</h2>
           <p class="lead mb-5">Coinpapa is a leading provider of cryptocurrency worldwide.
    Since 2013 we have helped over 1,300,000 customers join the paperless movement by turning dollars and euros into Bitcoin, Ethereum and other currencies.
    A startup in both style and spirit, we are a passionate and varied bunch who believe hard work should go hand in hand with fun.
          </p>
            </div>
            <!-- End Heading -->
We are not hiring at the moment.

          </div>
        </div>
      </div>
    </section>



