<p id="notice"><%= notice %></p>

<h1>Coinpapa admin console menu</h1>
<h2>Tables</h2>
<ul>
<li><%= link_to 'Users', admin_users_path %></li>
<li><%= link_to 'Orders', admin_orders_path %></li>
</ul>


