 <br><br><br><br>
          <div id="container-wrapper">
      	<div class="container">
            <h1 align="center"><strong>AFFILIATE PROGRAM TERMS AND CONDITIONS</strong></h1>

<p><br />
These Affiliate Program Terms and Conditions (the &ldquo;<strong>Terms</strong>&rdquo;) are the legally binding agreement between New Bit Ventures LTD and/or its subsidiaries (the &ldquo;<strong>Company</strong>&rdquo;) which provide the services of selling digital currency (the &ldquo;<strong>Services</strong>&rdquo;) on the first part; and the affiliate registering on the website Coinmama.com (the &ldquo;<strong>Website</strong>&rdquo;) on the second part. By using this Website, and further by registering as an affiliate, you (the &ldquo;<strong>You</strong>&rdquo;, &ldquo;<strong>Affiliate</strong>&rdquo;, &ldquo;<strong>Your</strong>&rdquo; or &ldquo;<strong>Yourself</strong>&rdquo;) accept and confirm Your obligation to abide by the terms and conditions governing Your participation in the affiliate program offered on the Website for the purpose of (a) directing new leads to the Company&rsquo;s Website for the use of Company&rsquo;s Services; or (b) integrating Company&rsquo;s widget (the &ldquo;<strong>Interface</strong>&rdquo;) enabling user interface for the execution of transaction between users and the Company on the Affiliate&rsquo;s platform (the &ldquo;<strong>Program</strong>&rdquo;). If You do not agree to any term of these Terms, You are required not to register on the Program.</p>

<p>ACCESSING, BROWSING OR OTHERWISE USING THE WEBSITE AND THE PROGRAM INDICATES YOUR AGREEMENT AND ACCEPTANCE OF ALL THE TERMS AND CONDITIONS INDICATED HEREIN. IF YOU DISAGREE WITH THE TERMS OR ANY PROVISION SPECIFIED THEREIN, YOU MUST NOT PARTICIPATE IN THE AFFILIATE PROGRAM.</p>

<p>PLEASE READ THESE TERMS CAREFULLY IN ITS ENTIRETY BEFORE SUBMITTING YOUR APPLICATION TO PARTICIPATE IN THE PROGRAM OFFERED BY THE COMPANY.</p>

<ol>
	<li>
	<h3><strong>Introduction</strong></h3>
	</li>
</ol>

<p>By using the Website and registering on the Program You agree to be governed by the following Terms as applicable to the Program offered on the Website. These Terms apply to all Affiliates (as defined herein below) of the Website. If You transact on and/or use the Website as a user, additional terms and conditions would apply to You as a user which are available on the Website.</p>

<h4><strong>Definitions</strong></h4>

<p><strong>&ldquo;Affiliate Program Registration Form&rdquo; </strong>shall refer to the form available on Company&rsquo;s Website which will be executed by the Affiliate in the process of registering to the Program and which constitutes an integral part of these Terms.</p>

<p>&ldquo;<strong>Affiliate</strong>&rdquo; and/or &ldquo;<strong>You</strong>&rdquo;, &ldquo;<strong>Your</strong>&rdquo; shall refer to the business, individual, entity or applicant submitting the application and participating in the Program, offered on the Website in accordance with these Terms and the Affiliate Program Registration Form.</p>

<p>&ldquo;<strong>Commission</strong>&rdquo; shall refer to the fee due to the Affiliate from Qualified Transactions by a Qualified Lead referred to the Company&rsquo;s Website by the Affiliate or executed on the Interface integrated on the Affiliate&rsquo;s platform in accordance with these Terms as specified in Section 6 and any additional terms agreed upon as part of the Program, including the Affiliate Program Registration Form .</p>

<p>&ldquo;<strong>Affiliate Website</strong>&rdquo; shall refer to the Affiliate&#39;s internet site which displays Company Services and/or Interface and/or promotions.</p>

<p>&ldquo;<strong>Qualified Transaction</strong>&rdquo; shall refer to a purchase of Services by a Qualified Lead which meets the Company&rsquo;s Commission qualifications set forth in these Terms.</p>

<p>&ldquo;<strong>Qualified Lead</strong>&rdquo; shall refer to each new customer referred by the Affiliate for the purchase of Company&rsquo;s Services with the Company through: (a) the Link provided to the Affiliate by the Company; or (b) the Interface. A customer referred by the Affiliate, which was previously a user of the Website (prior to the referral by the Affiliate), regardless of whether such customer was using the Services at the time of the referral or not, will not be deemed a Qualified Lead under these Terms and no Commission will be due to the Affiliate from such customer&rsquo;s transactions.&nbsp;It is clarified that any use of the &ldquo;Coinmama&rdquo; brand within any payments based advertising platforms (including bidding based platforms i.e Google adwords, bing, facebook, twitter etc.) shall not be considered as a Qualified Lead. That should refer to any use of the brand&nbsp;name in its broad meaning.</p>

<p>&quot;<strong>Registration Form</strong>&quot; Shall refer to any and all order forms, registration forms, or other signup or acceptance form (whether online, paper, fax, or otherwise) including any information therein submitted by You.</p>

<p>&quot;<strong>Services</strong>&quot; &ndash; shall refer to Company&rsquo;s services offered on the Website for purchasing digital currency, which will be promoted by the Affiliate in accordance with the material provided to the Affiliate by the Company.</p>

<p>&quot;<strong>We</strong>&quot;, &ldquo;<strong>Our</strong>&rdquo;, &ldquo;<strong>Us</strong>&rdquo; and/or &ldquo;<strong>Ourselves</strong>&rdquo; shall refer to the Company.</p>

<ol>
	<li value="2">
	<h3><strong>Eligibility</strong></h3>
	</li>
</ol>

<p>By participating in the Program, You (the Affiliate) represent and warrant that:</p>

<ol style="list-style-type:lower-alpha;">
	<li>You have read all the provisions under these Terms and the Affiliate Program Registration Form.</li>
	<li>All Registration Forms and information submitted to Company are truthful and accurate.</li>
	<li>You will maintain the accuracy of such information.</li>
	<li>You have full legal capacity to enter into legally binding relations under the Terms.</li>
	<li>Using the Website and participating in Program under the Terms does not and will not conflict with any applicable legislation, provisions, regulations, licenses, permits applicable to the Affiliate.</li>
	<li>Using the Website and participating in the Program does not and will not constitute any violation and/or non-fulfillment of any agreement or other instruments to which You are a party or the effect of which extends to the Affiliate.</li>
</ol>

<p>Affiliate acknowledges and agrees that Affiliate&rsquo;s account is subject to termination or suspension and Affiliate&rsquo;s cooperation with Company may be terminated without warning or notice, subject to Company&rsquo;s sole and exclusive discretion, including without limitations, if Company believes that Affiliate does not comply with the representations and warranties set forth in these Terms.</p>

<ol>
	<li value="3">
	<h3><strong>Enrollment in the Program</strong></h3>
	</li>
</ol>

<p>Affiliate must submit a completed Registration Form to begin the enrollment process. The Registration Form can be found at <a href="https://www.coinmama.com/coinmama-affiliate-program-earn-free-bitcoins">https://www.coinmama.com/coinmama-affiliate-program-earn-free-bitcoins</a>. Company may reject Affiliate&rsquo;s application for any reason, under Company&rsquo;s sole discretion, including if Company determines that Affiliate&rsquo;s promotional techniques and/or Affiliate Website on any content therein are unsafe, offensive, illegal and/or unsuitable for the Program and for the promotion of the Service, including without limitation, Company otherwise deems the Affiliate Website inconsistent with Company&rsquo;s operation and business objectives, all subject to Company&rsquo;s sole discretion. &nbsp;</p>

<p>Please consider that participating in Program is possible only if You complete the Affiliate Program Registration Form. You will receive a password and an account will be issued for You (&ldquo;<strong>Affiliate Account</strong>&rdquo;) upon completing the Website&#39;s registration process. You are responsible for maintaining the confidentiality of Your password and Account information, and You shall be deemed fully responsible for all activities that occur under Your Affiliate Account. You agree to: (i) immediately notify Company of any unauthorized use of Your Affiliate Account and/or any other breach of security; and (ii) ensure that You log-off from Your Affiliate Account at the end of each session. Company shall not be liable for any loss and/or damage arising from Your failure to comply with these provisions.</p>

<ol>
	<li value="4">
	<h3><strong>Links (Applicable to Affiliate not using the Interface)</strong></h3>
	</li>
</ol>

<p>Provided that You are qualified to participate as an Affiliate in the Program, Company will provide You with graphic and/or textual links which include a code to identify You as the referring party (each of these links herein referred to as the &quot;<strong>Link&rdquo;</strong>), that are subject to the terms and conditions hereof. Links will be made available to You in Affiliate`s Account upon Your registration to the Program. Company will use such Links to identify Affiliate as a member of the Program. The Links may connect to any area of the Services on the Website.</p>

<p>Affiliate warrants to fully cooperate with Company in order to establish, operate and maintain such Links.</p>

<p>Affiliate agrees to display on the Affiliate Website only those Links provided by Company or text messages expressly approved in advanced by the Company. All Affiliate Websites shall display such graphic and/or textual images prominently in relevant sections of their website. Any information with respect to Company that is going to be displayed on Affiliate Website must be provided by Company and/or expressly approved by Company prior to any display by Affiliate. Affiliate warrant not to modify the Links in any manner, and acknowledges that Company will not be responsible for any damages, loss of revenues, loss of Commissions, claims, expenses or errors which are as a result of modifications by the Affiliate of such Links.</p>

<p>Any attempts by the Affiliate to manipulate or falsify Qualified Leads and/or Qualified Transactions or Commissions to intentionally defraud Company or which are in violation of any of the provisions of these Terms or applicable laws and regulations, constitutes immediate grounds for Company to terminate Your participation in this Program and will result in forfeiture of any Commissions due to You without derogating from any other remedies to which the Company is entitled.</p>

<ol>
	<li value="5">
	<h3><strong>Affiliate&rsquo;s Representation and Warranties</strong></h3>
	</li>
</ol>

<ol style="list-style-type:lower-alpha;">
	<li>The Affiliate warrants that he is a natural person of at least 18 years of age and must not enroll in any Affiliate Program or use the Website if not in the required minimum age.&nbsp;</li>
	<li>In the course of fulfilling Affiliate&rsquo;s obligations under the Terms, Affiliate hereby commits to comply with any laws and regulations applicable to Affiliate actions, marketing and advertising, including any anti spam laws and regulation.</li>
	<li>The Affiliate is exclusively responsible for the Affiliate Website&rsquo;s operation, material, content and all costs incurred with such operation, and shall ensure that it all conforms at all times with all applicable laws and regulations.</li>
	<li>The Affiliate hereby undertakes to comply with all applicable laws and regulations, including without limitations, the EU and national laws and regulations in force from time to time and any foreign applicable anti-spam and privacy laws and regulation, and without limitations, the EU-directive 2002/58/EC.</li>
	<li>
	<div>Affiliate warrants that it will not directly or indirectly: (a) use, post or promote any of Company&rsquo;s content or Services or any recommendations in association with any material or content which is or which may reasonably be considered illegal, unlawful or infringing under any applicable laws [including, without limitation, content which infringes a third party copyright (i.e. illegal streaming website), pornographic, obscene, promotional of illicit drugs and drug paraphernalia, weapon or ammunition-related, violent, libelous, defamatory, indecent, seditious, offensive, invasive to privacy, abusive, threatening, harmful, vulgar, possibly capable of inciting racial hatred, discriminatory (racially, ethnically or otherwise), in breach of confidence or any other right of any third party, or lacking in necessary authorizations, approvals, consents or licenses, as well as content associated in any way to cyber attacks and payment to and/or submission to the demands of cyber attackers; (b) engage in any action or practice that disparages or devalues Company (or its affiliates), the Services, Company&rsquo;s content, or the reliability, reputation or goodwill of any of them; (c) fulfill its responsibility under the Program in breach of any anti spam laws or regulations.</div>
	</li>
	<li>The Affiliate warrants and accepts Company&rsquo;s right to receive any information regarding the Affiliate&rsquo;s efforts to promote Company. That, in order to enable company validating that these efforts are in line with the Affiliate&rsquo;s warrants and commitments under this agreement.&nbsp;</li>
	<li>The Affiliate warrants that the rights to all data, content, information, and productions on Affiliate Website belong to the Affiliate or is rightfully licensed to the Affiliate by its rightful owner and used by the Affiliate under explicit permission for its publication therein.</li>
	<li>The Affiliate must not in any way generate or contribute to generating artificial traffic to the Website.&nbsp;</li>
	<li>The Affiliate warrants that the information furnished to Company about the Affiliate and the Affiliate Website and content is correct, complete and sent in due order and that the information corresponds to actual facts. The Affiliate must notify Company immediately of any changes in the information by updating the information about the Affiliate on Company&#39;s Website. If the Affiliate is a limited company, Company must be provided with the Affiliate&#39;s full registered name, company registration number, registered office, business address if different and VAT number if registered.</li>
	<li>Affiliate will not send, transfer or otherwise initiate any downloadable programs or executables that contain viruses, worms, &ldquo;Trojan Horses&rdquo; or any other destructive features that violate the rights of third parties including without limitations, redirections to unwanted websites, modification of browser settings, interference with Website navigations and/or accessing data.</li>
	<li>The Affiliate must notify Company immediately of any known or suspected improper or wrongful use of the Affiliate&#39;s Links, the Interface or of the Affiliate Program or of Company&#39;s Services in any way whatsoever.</li>
	<li>The Affiliate is obligated to follow directions of the Company with regards to specific traffic requests as may be provided from time to time by the Company. It is hereby clarified that the Affiliate will not be entitled to any remuneration for any directed traffic which does not comply with Company&rsquo;s requests.</li>
</ol>

<p>Without derogating from any rights to which the Company is entitled under any laws and regulations, breach by Affiliate of any of the provisions hereinabove will entitle the Company to immediately terminate the Affiliate Account without notice and to withhold indefinitely any Commissions owed to the Affiliate under these Terms. &nbsp;</p>

<ol>
	<li value="6">
	<h3><strong>Remuneration</strong></h3>
	</li>
</ol>

<ol style="list-style-type:lower-alpha;">
	<li>Affiliate will be entitled to a commission in accordance with the commercial provisions indicated on Company&rsquo;s Website, available to You on the Affiliate Program Registration Form, which may be amended from time to time subject to Company&rsquo;s consideration (the &ldquo;<strong>Commission</strong>&rdquo;) and are deemed an inseparable part of the Terms.</li>
	<li>All Commission paid to the Affiliate is VAT inclusive.</li>
	<li>Commission will be paid to the Affiliate only with respect to a Qualified Transaction executed by a Qualified Lead referred by the Affiliate under and/or in accordance with the provisions of these Terms. The minimum threshold for withdrawal is 0.01 BTC or 100 USD.</li>
	<li>The Qualified Lead or the Qualified Transaction must comply with the following:</li>
</ol>

<ol style="list-style-type:lower-roman;">
	<li>A lead will be deemed a Qualified Lead if such lead has submitted a relevant customer registration form and provided valid and unique account and billing information.</li>
	<li>The Qualified Lead must make a Qualified Transaction, and provide a valid payment for the Services.&nbsp;</li>
	<li>For the Affiliate to be entitled to a Commission, each Qualified Lead must be an active, qualified customer and must be up-to-date in all payments at the time the Commissions are processed and must not be subject to a refund, credit, cancellation, suspension or chargeback.</li>
	<li>The Qualified Lead must complete the sign-up process in a manner, which under Company&rsquo;s sole discretion, definitively establishes that such lead was referred directly from Affiliate to the Services, without manipulation of Company&rsquo;s links in any manner.</li>
	<li>The Qualified Lead must remain in compliance with Terms and Conditions of the Website, Privacy Policy and other policies that are active at the time the Commissions are processed.</li>
	<li>Affiliate will not be entitled to Commission corresponding to any canceled Service purchased by a Qualified Lead and Company will be entitled to withhold or deduct from Affiliate&#39;s current or future Commissions any such Commission paid to the Affiliate and which corresponds to a canceled transactions.</li>
	<li>Transaction by Qualified Leads which are deemed by Company, under Company&rsquo;s sole discretion, to be a result of fraud, manipulation, deception, questionable, or other improper activity or in breach of any of the provisions in the Website Terms of Use by the Qualified Lead will not constitute a Qualified Transaction and the Affiliate will not be entitled to any Commission with respect to such transaction. &nbsp;&nbsp;</li>
</ol>

<ol style="list-style-type:lower-alpha;">
	<li value="5">Commissions will accrue and become payable provided that You submit all relevant information and/or documentation necessary for valid Commission to be issued under these Terms and the Affiliate Program Registration Form.</li>
	<li value="6">You acknowledge that the Company may pay the Commission in Bitcoins, in which case, the commission will be subject to the changes in rates depending on when the payment is made. &nbsp;</li>
	<li value="7">You are responsible for the payment of all taxes related to the Commissions which You receive under the Terms.</li>
	<li value="8">You are responsible for informing Company about changes to postal and/or e-mail addresses, as well as any changes to your name, contact information, tax identification number, Bitcoin address or other personal information that will impact Company&#39;s ability to issue a valid Commission payment.</li>
	<li value="9">To remove all doubt, subject to Company&rsquo;s sole discretion, Company will be entitled to cancel or withhold indefinitely any Commission owed to the Affiliate or deny or reject any Commission if: (i) Company deems Affiliate&rsquo;s actions to be in breach of any applicable law or regulation which apply to Affiliate marketing efforts; or (ii) the breach of the Terms and Conditions by Affiliate; or (iii) the result of fraudulent activity by the Affiliate (iv) the Qualified Lead or any Qualified Transaction fails to comply with the qualifications required.</li>
	<li value="10">It is the responsibility of the Affiliate to monitor the payment, denial, and withholding of Commissions. Company will attempt to notify the Affiliate but is not obligated to actively notify Affiliates of the status of Commissions. If the Affiliate has a question about a Commission that has been canceled or withheld, the Affiliate has 30 days from the day the payment was due to contact Company to discuss or reclaim the Commission. Any changes to decisions about canceled or withheld Commissions are strictly at Company&#39;s discretion. To the extent possible, the Company will provide the Affiliate with supporting documentation stating the cause of denied Commission provided that such documentation is not confidential or puts the Company at risk of breach of confidentiality towards any third party.</li>
</ol>

<ol>
	<li value="7">
	<h3><strong>Intellectual Property Rights; Limited License.</strong></h3>
	</li>
</ol>

<p>Company shall exclusively own all right, title and interest to all Company&rsquo;s content and intellectual property, including without limitations, the &quot;Coinmama&quot; Brand, the Website, the Program, the Links, the Interface, list of clients including the list of the Qualified Leads, promotion material, graphics, methods, &ldquo;know-how&rdquo;, transactions executed on the Website, list of suppliers and any data and content which may be disclosed to the Affiliate under the Terms (the &ldquo;<strong>Intellectual Property</strong>&rdquo;).</p>

<p>&ldquo;<strong>Intellectual Property Rights</strong>&rdquo; means copyright rights, trademark rights, patent rights, trade secrets, moral rights, right of publicity, authors&rsquo; rights, contract and licensing rights, goodwill and all other intellectual property rights as may exist now and/or hereafter come into existence and all renewals and extensions thereof.</p>

<p>Company hereby grants the Affiliate a limited, non-exclusive, non-transferable, revocable license to use and display the Links, the Interface and any promotional material provided by the Company on Affiliate Website in accordance with the provisions of these Terms, and exclusively during the Term. Upon termination of Affiliate participation in the Program, the Affiliate shall cease making use of any content, data or information provided to the Affiliate by the Company.<br />
<br />
It is hereby clarified that in no circumstances the affiliate will be eligible to use sponsored ads using the company Intellectual Property without receiving the company&rsquo;s written consent in advance.</p>

<p>The provision of this section shall survive any termination of the business interaction between You and the Company under these Terms, regardless of the cause of Termination. &nbsp;&nbsp;</p>

<ol>
	<li value="8">
	<h3><strong>The Term</strong></h3>
	</li>
</ol>

<p>These Terms shall remain in effect for as long as You continue to participate in the Program, or maintain the Links or the Interface to the Services offered on the Website on Your Affiliate Website (the &ldquo;Term&rdquo;). The Affiliate or the Company may terminate the Terms at any time, with or without cause, by giving the other party notice of such termination. No Commissions shall accrue or be earned by You following the effective date of termination.</p>

<p>The Affiliate is only eligible to earn Commissions on Qualified Transactions occurring during the Term which are payable only if the related orders are not canceled or refunded. Company may withhold Affiliate&rsquo;s final payment for a reasonable time to ensure that the correct amount is paid and to confirm that all Qualified Transactions are finalized.</p>

<p>The Affiliate Program may be terminated at any time subject to Company&rsquo;s sole discretion, including without limitations, if Company ceases or is ordered to cease the operation of the Website and/or any Services operated therein, as well as if the Affiliate has failed to generate at least three (3) Qualified Transactions in the period of any three (3) consecutive months from at least three (3) Qualified Leads that were referred by the Affiliate for the purchase of Company&rsquo;s Services in the aforementioned three (3) consecutive months.</p>

<p>In addition, the Company reserves the right to modify, amend, change or terminate Company&#39;s Services or any part or component of the Website, including the Affiliate Program and the Terms. To the extent possible, the Affiliate will be notified of such changes by e-mail or by an announcement on Company&#39;s Website. If the Affiliate does not accept the changes the Affiliate must immediately cease to use the Website, the Interface and delete all Links to the Website.</p>

<p>Upon termination of these Terms: (a) all licenses hereunder shall terminate; and (b) Affiliate shall immediately remove all Links and Interface from Affiliate Website and cease using Company name, logos, trademarks, service marks, and/or proprietary technology; (c) Affiliate shall return to Company any and all of Company&rsquo;s content provided to the Affiliate under these Terms.&nbsp;</p>

<ol>
	<li value="9">
	<h3><strong>Limitations of Liability; Disclaimer</strong></h3>
	</li>
</ol>

<p>COMPANY SHALL NOT BE LIABLE TO YOU OR TO ANY THIRD PARTY OR ENTITY FOR ANY INDIRECT, CONSEQUENTIAL, INCIDENTAL, SPECIAL, OR EXEMPLARY DAMAGES, INCLUDING LOST PROFITS, ARISING OUT OF OR IN CONNECTION WITH THESE TERMS (HOWEVER ARISING, AND REGARDLESS OF THE THEORY OF RECOVERY). AT ANY EVENT, COMPANY&rsquo;S TOTAL LIABILITY TO THE AFFILIATE ARISING OUT OF OR IN CONNECTION WITH THESE TERMS IS LIMITED TO THE GREATER OF: (A) FIVE HUNDRED DOLLARS ($500); OR (B) THE AMOUNT PAID BY COMPANY TO AFFILIATE DURING THE MONTH IMMEDIATELY PRECEDING THE FIRST REOCCURRENCE OF EVENTS GIVING RISE TO SUCH LIABILITY UNDER THESE TERMS.</p>

<p>TO THE FULLEST EXTENT PERMISSIBLE PURSUANT TO APPLICABLE LAW, COMPANY DISCLAIMS ALL WARRANTIES EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE, IN RELATION TO THE WEBSITE, THE PROGRAM OR THE SERVICE, ITS USE AND THE RESULTS OF SUCH USE. WITHOUT LIMITING THE FOREGOING, COMPANY WILL NOT BE HELD LIABLE AND SPECIFICALLY DISCLAIMS ANY WARRANTY (A) THAT THE WEBSITE, THE PROGRAM OR THE SERVICES WILL BE UNINTERRUPTED OR ERROR-FREE, (B) THAT DEFECTS WILL BE CORRECTED (C) THAT THERE ARE NO VIRUSES OR OTHER HARMFUL COMPONENTS (D) THAT THE SECURITY METHODS EMPLOYED WILL BE SUFFICIENT OR (E) REGARDING CORRECTNESS, ACCURACY, OR RELIABILITY. APPLICABLE LAW MAY NOT ALLOW THE EXCLUSION OF IMPLIED WARRANTIES SO THE ABOVE EXCLUSION MAY NOT APPLY TO YOU.</p>

<p>Company cannot guarantee or warrant that the performance of Company&#39;s Services, the Links to the Website or the Interface, will be uninterrupted. Company shall not be liable for any error in the implementation of the Links or the Interface on the Affiliate Website or for any malfunction of the Links or the Interface.&nbsp;</p>

<ol>
	<li value="10">
	<h3><strong>&nbsp;&nbsp;Indemnification</strong></h3>
	</li>
</ol>

<p>You agree to indemnify, defend and hold harmless the Company from and against any and all losses, liabilities, claims, damages, costs and expenses (including legal fees and disbursements in connection therewith and interest chargeable thereon) incurred by the Company and resulting from: (a) any breach, non-compliance, or non-performance by You of the representations, warranties or covenants pursuant to the Terms; or (b) any claim brought against the Company by any third party resulting from Your operation of the Affiliate Website, including without limitations, with regards to infringement of third party rights or Your promotion and marketing activities.</p>

<ol>
	<li value="11">
	<h3><strong>&nbsp;&nbsp;Confidentiality; Publicity</strong></h3>

	<ol style="list-style-type:lower-alpha;">
		<li>&quot;<strong>Confidential Information</strong>&quot; shall refer to any information exchanged between You and the Company, including but not limited to any Company&rsquo;s content, emails, correspondences, processes, practices, audits, products, customers, list of leads provided by You, accounts, recommendations, advice, finance or contractual arrangements or trade secrets and Intellectual Property of the Company and any information concerning the Affiliate Program, exchanged between You and the Company, either in writing, orally or otherwise, shall be considered confidential information and shall remain confidential. Confidential Information shall also include the terms of this Agreement, except for the fact that the Agreement exists.</li>
		<li>You hereby warrant that You will at all times:
		<ol style="list-style-type:lower-roman;">
			<li>Keep Company&rsquo;s Confidential Information strictly confidential;</li>
			<li>Not use the Company&#39;s Confidential Information except for the purposes of fulfilling Your obligations under these Terms.</li>
			<li>Not divulge Company&rsquo;s Confidential Information to any third party except to Your employees on a need to know basis solely for the purposes of these Terms and shall procure that each such third party is bound by a confidentiality agreement and complies with the confidentiality obligations as above mentioned. Regardless of the aforementioned, You are solely liable for any breach of confidentiality committed by any such third party.</li>
		</ol>
		</li>
		<li>The obligations of confidentiality herein shall survive the termination or conclusion of the Terms and the business interactions between You and the Company regardless of the reason of termination.</li>
		<li>Company may publicly refer to You, orally or in writing. Company may publish Your name and/or logo on the Website, in press releases, and in promotional materials without Your prior consent.</li>
	</ol>
	</li>
	<li value="12">
	<h3><strong>&nbsp;&nbsp;Relationship</strong></h3>
	</li>
</ol>

<p>Company and the Affiliate are independent contractors and nothing in the Terms shall be construed to create any partnership, joint venture, agency, franchise, sales representative, or employment relationship. You have no authority to make or accept any offers or representations on behalf of Company. You may not make any statement, whether on Your Affiliate Website or otherwise, that contradicts anything contained in this section.</p>

<ol>
	<li value="13">
	<h3><strong>&nbsp;&nbsp;Force Majeure&nbsp;</strong></h3>
	</li>
</ol>

<p>The Company shall not be liable by reason of any failure or delay in the performance of its obligations hereunder on account of strikes, shortages, riots, insurrection, fires, flood, storm, explosions, acts of God, war, governmental action, labor conditions, earthquakes or any other cause which is beyond the reasonable control of Company.&nbsp;</p>

<ol>
	<li value="14">
	<h3><strong>&nbsp;&nbsp;Jurisdictional Issues</strong></h3>
	</li>
</ol>

<p>The Terms will be governed exclusively by the laws of the state of Israel regardless of conflict of law provisions. You agree that any dispute arising with respect to these Terms will be submitted and resolved exclusively by confidential arbitration by a sole arbitrator agreed upon by the parties, whose ruling will be provided within thirty (30) days and shall be final and binding, each party will be responsible for equal share of the arbitration expenses.&nbsp;The arbitration will be conducted in Tel-Aviv in the English Language.</p>

<ol>
	<li value="15">
	<h3><strong>&nbsp;&nbsp;Assignment</strong></h3>
	</li>
</ol>

<p>The Affiliate may not assign or pledge his rights or obligations under these Terms in whole or in part to any third party without the prior written consent of Company. The Affiliate agrees that Company may assign its rights and obligations under these Terms and divulge or transfer information about the Affiliate including without limitations, Affiliate Website or e-mail to any third party.</p>

<ol>
	<li value="16">
	<h3><strong>&nbsp;&nbsp;Severability</strong></h3>
	</li>
</ol>

<p>If any provision of these Terms or any part thereof should to any extent be or become invalid or unenforceable, You agree upon any necessary amendment of these Terms in order to achieve the interests and objectives of the Company prevailing at the time of execution of these Terms.</p>

<ol>
	<li value="17">
	<h3><strong>&nbsp;&nbsp;Survival</strong></h3>
	</li>
</ol>

<p>Upon any termination of these Terms, all provisions regarding liability, confidentiality, and Intellectual Property Rights, thereon, and/or protection of proprietary rights and trade secrets, and any provisions which expressly or by their nature are required to survive such termination in order to achieve their purpose, shall so survive until it shall no longer be necessary for them to survive in order to achieve their purpose.</p>

<ol>
	<li value="18">
	<h3><strong>&nbsp;&nbsp;Notification of Changes</strong></h3>
	</li>
</ol>

<p>Company expressly reserves the right to amend these Terms from time to time without notice to You. You acknowledge and agree that it is Your responsibility to review the updated Terms on the Website from time to time and to familiarize yourself with any modifications applicable therein. Your continued participation in the Program following such modifications will constitute acknowledgment of the modified Terms and agreement to abide and be bound by the modified Terms and Conditions therein.</p>

<p>&nbsp;</p>

        </div>
      </div>