    <section class="container g-py-100">



              <!-- <h1>Coinmama Affiliate Program</h1> -->
              <p>
                Coinmama offers an easy, fast & secure way to buy cryptocurrency.
                <br/>
                Join our new affiliate program and <strong>get paid in bitcoin</strong>!!
                <br/>
                With our new affiliate program, you will have the most advanced tools in the market that will allow you to promote Coinmama and generate commissions with us!&#10
                We also serve over 188 countries worldwide, so you can promote Coinmama in any country you want!
              </p>

              <ul>
                <li>Earn<strong> 15%</strong> of Coinmama's commission on ALL of your referral's purchases including all their future purchases!</li>
                <li>Our affiliate program has <strong>NO LIMITATIONS</strong>! The more customers you refer, the more bitcoin you earn.</li>
                <li>Earnings are paid monthly (paid out towards the end of the following month)</li>
                <li>Payouts will be paid only after 3 successful orders made by at least 3 different users</li>
              </ul>


              <!-- <p>The process is fast and easy:</p> -->
              <h4>The process is fast and easy:</h4>

              <ol>
                <li>Register</li>
                <li>Send customers to our website with your customized referral link:&#10
                  (Can be found under “Marketing Tools” tab in your account)</li>
                <li>Earn a commission for every successful purchase your referrals make</li>
              </ol>

              <br>
              <div id="typewriter" style="">
                <h2 id="affil-cta">Register now and start earning with us!
                </h2>
                <h4 id="affil-sub-cta">Register Now – Fill Out the Form Below
                </h4>
              </div>


            Under construction.
    </section>




